body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    background-color: rgb(68, 68, 68);

}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


h1{
    display: flex;
    justify-content: center;
    color: white;
 
}

h2{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    margin-top: -20px;
   
}

nav{
    border: 2px solid black;
    background-color: rgb(46, 46, 46);
    padding: 30px;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

button{
    background-color: rgb(128, 128, 128);
    border-radius: 15px;
    border-style: none;
}


main{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-right: 300px;
    margin-left: 300px;
    
    
}

section{
    color: rgb(249, 108, 0);
}

.content1{
    background-color: rgb(34, 34, 34);
    color: white;
    border-radius: 15px;
    padding: 30px;
      
    

}

footer{
    margin-top: 360px;
    align-items: flex-end;
    background-color:   rgb(3, 0, 38);
}

h3{
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;
    margin-bottom: 0px;

}



.boton-enviar{
    background-color: orange;
    color: black;
}

